<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coursework1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coursework1">
        <activity android:name=".MainActivity" android:label="Home Page"/>
        <activity android:name=".AdvancedLevel" android:label="Match The Suitable Car Name"/>
        <activity android:name=".IdentifytheCarImage" android:label="Find The image" />
        <activity android:name=".Hints" android:label="Match The Suitable Letters" />
        <activity android:name=".IdentifyTheCarMake" android:label="Track The Car Name"/>
            <activity android:name=".Firstpage" android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>